@import '../../../App.scss';

.video-article-section {
    background-color: black;
    position: relative;
    color: white;
    padding: 3.5em;
    padding-left: $defaultMargin;
    margin: 0;
    display: grid;
    gap: 5em;
    grid-template-columns: repeat(auto-fill, minmax(300px, calc(50% - 5em)));
    justify-content: start;
    div {
        z-index: 2;
    }
    .text-container {
        text-align: left;
    }
    .iframe-container {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        iframe {
            min-height: 350px;
            width: 100%;
        }
    }
 
}

@media (max-width: 1400px) {
    .video-article-section {
        grid-template-columns: 1fr;
        .text-container {
            text-align: justify;
        }
        .video-sect {
            padding: $defaultMargin;
        }
    }
}


@media (max-width: 800px) {
    .video-article-section {
        .video-sect {
            padding: 0 !important;
        }
    }
    #tire-background-image {
        .video-article-section {
            .video-sect {
                padding: 2em !important;
            }
        }
    }
}