@import '../../../App.scss';

.yt-video-nocontrols {
    pointer-events: none;
    position: absolute;
}

.testes-section {
    padding: $defaultMargin;
    padding-top: calc($defaultMargin - 3em);    
    .testes-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto 1fr;
        row-gap: 3em;
        column-gap: 2em;
        h1 {
            grid-column: 1 / 4;
            grid-row: 1 / 1;
            width: 75%;
            justify-self: center;
        }
        .video-container {
            grid-column: 1 / 4;
            width: 85%;
            justify-self: center;
        }
        p {
            grid-column: 1 / 2;
            grid-row: 3 / 3;
            width: 80%;
            justify-self: center;
            align-self: center;
        }
        .article-video-container {
            grid-column: 2 / 4;
            grid-row: 3 / 3;
        }

    }
    .headerTitleComponent {
        margin-left: 0;
    }
    
}

@media (max-width: 1400px) {
    .testes-section {
        .testes-wrapper {
            h1 {
                width: 100%;
                justify-self: center;
            }
            .video-container {
                width: 100%;
            }
            p {
                grid-column: 1 / 4;
                grid-row: 2 / 2;
                width: 80%;
                justify-self: center;
                align-self: center;
            }
            .article-video-container {
                grid-column: 1 / 4;
                grid-row: 3 / 3;
            } 
        }
    }
}

