@import '../../../App.scss';

section {
    margin-left: $defaultMargin;
    margin-bottom: $defaultMargin;
    margin-top: calc($defaultMargin - 3em);
    .header-title {
        height: 10vh;
        margin: auto;
        display: flex;
        align-items: center;
    }
    .fifty-fifty {
        display: flex;  
        flex-direction: row;
        flex-wrap: wrap;  
        justify-content: space-between;
        .text-side {
            font-size: 1.25rem;
            width: 42%;
            font-family: 'Montserrat';
            h1 {
                margin-bottom: .85em;
            }
        }
        div {
            justify-content: flex-end;
            img {
                width: 100%;
                height: 100%;
                object-fit: fill;
            }
        }
    }
}

@media (max-width: 1400px) {
    section {
        margin: $defaultMargin;
        .title-text {
            margin: 1em 0;
        }
        .header-title {
            display: flex;
            font-size: 1.4rem;
            justify-content: center;
        }
    }
    .text-side {
        width: 100% !important;
        text-align: center;
        margin-bottom: 2em;
        word-break: break-word;
    }
    .image-side {
        width: 100%;
    }
}