@import "../../../App.scss";

.App > section {
    margin: 0 !important;

}

.overlay-bg {
    height: 100%;
    width: 100%;
    z-index: 0;
    opacity: 0.35;
    background-color: black;
    position: absolute;
}
.wrapper {
    position: relative;
    top: 0;
    z-index: 2;
    height: 100%;

    main {
        position: relative;
        display: flex;
        height: 100%;
        flex: 1;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .home-logo {
            position: relative;
            z-index: 10;
            height: 5.5em;
            object-fit: contain;
            margin-bottom: 2em;
            filter: brightness(100%);
        }
    }
    .navbar {
        position: absolute;
        z-index: 10;
        right: 2em;
        top: 1.8em;
    }

    .container {
        display: flex;
        justify-content: flex-end;
        .navbar-nav {
            display: flex;
            align-items: flex-end;
            justify-content: flex-end;
            a {
                align-self: flex-end;
                font-family: 'Montserrat';
                font-size: 1.2rem;
                color: white !important;
                font-weight: normal;
                transition: all 200ms ease ;
            }
            a:not(:last-child):after{
                content: '.';
                margin-left: 0.5em;
            }
            a:hover {
                color: $accent-color !important;
                font-weight: 700;
            }
        }
    
        .navbar-toggler {
            color: white;
            border-color: white;
            span {
                filter: brightness(0) invert(1);
            }
        }
    }

}

@media (max-width: 800px) {
    .youtube-container {
        main {
            .home-logo {
                position: absolute;
                left: 5vh;
                top: calc(50% - (5.5em / 2));
                margin-bottom: 0;
                width: 35%;
            }
            .home-title {
                display: none;
            }
        }
        
    }
}