@import '../../../App.scss';

.black-outline {
    border-color: black !important;
    color: black !important;
    border-width: 1px !important;
    border-radius: 15px !important;
}


::placeholder {
color: black;
opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
color: black;
}

::-ms-input-placeholder { /* Microsoft Edge */
color: black;
}
.black-outline:focus {
    border-width: 2px;
    border-color: $accent-color;
}
.black-outline:hover {
    -webkit-box-shadow: 0px 0px 6px black;
    -moz-box-shadow: 0px 0px 6px black;
    box-shadow: 0px 0px 6px black;
    cursor: pointer;
}

.black-button {
    background-color: black !important;
    color: $accent-color !important;
}

.contact-me-section {
    background-color: $accent-color;
    margin: 0;
    padding: $defaultMargin;
    padding-top: calc($defaultMargin - 3em);
    main {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        gap: $defaultMargin;
        position: relative;
        form {
            width: 60%;
            min-width: 125px;
            margin: auto;
            row-gap: .8em;
            display: grid;
            justify-content: stretch;
        }
        div {
            flex-basis: 1;
            flex: 1;
            p {
                font-family: 'Montserrat';
                color: black;
                width: 45%;
                font-size: 1.35rem;
            }
        }
        .text-title {
            h1 {
                width: 90%;
                padding-right: 0.5em;
                margin-bottom: .5em;
            }
        }
    }
}

@media (max-width: 1400px) {
    .contact-me-section {
        main {
            justify-content: center !important;
            div {
                flex-basis: 100% !important;
            }
            form {
                width: 100% !important;
            }
        }
        .text-title {
            text-align: center;
            display:grid;
            gap: 2em;
            h1, p {
                margin: auto !important;
                padding-right: 0 !important;
                width: 100%;
            }
        }
    }
} 