@import '../../../App.scss';

.youtube-container {
    section {
        position: relative;
        height: 100%;
        overflow: hidden;
        .title-component-wrapper {
            flex: 1;
            height: 75vh;
            width: 45%;
            margin: auto;
            display: flex;
            align-items: center;
        }
    }
}

#background-video {
    z-index: -2;
}

@media (max-width: 1400px) {
    .title-component-wrapper {
        width: 100% !important;
        .title-component {
            margin: auto;
            font-size: 5.5vw !important;
        }
    }
}

@media (max-width: 700px) {
    .title-component-wrapper {
        .title-component {
            font-size: 8.5vw !important;
        }
    }
}