$accent-color: #d39326;
$defaultMargin: 5em;

#cintas-title {
    color: $accent-color !important;
    font-size: 3vw;
    width: 67%;
    margin-bottom: .5em;
}

#tire-background-image {
    .video-article-section {
        .text-container {
            margin-left: $defaultMargin;
        }
    }
    position: relative;
    padding-top: calc($defaultMargin - 3em);
    .headerTitleComponent {
        margin-left: $defaultMargin;
        position: absolute;
    }
}

footer {
    width: 100%;
    padding: 2em;
    padding-left: $defaultMargin;
    background-color: black;
    color: $accent-color;
    p {
        margin: 0;
    }
}

@media (max-width: 1400px) {
    #tire-background-image {
        .text-container {
            display: flex;
            flex-direction: column;
            justify-content: center !important;
            align-items: center;
            margin: auto !important;
        }
        #cintas-title {
            text-align: center;
            font-size: 5vw;
        }
        #cintas-title ~ a {
            display: flex;
            justify-content: center;
            margin-top: 1em;
            .rounded-button {
                margin: auto;
                width: auto;
            }
        }
    }
    footer {
       display: flex;
       padding: 2em !important;
       justify-content: center;
    }
}

a {
    text-decoration: none;    
}

.rounded-button {
    border: 2px solid $accent-color;
    display: inline;
    border-radius: 30px;
    background-color: transparent;
    color: $accent-color;
    font-family: 'Montserrat';
    padding: .6em 1em;
    transition: all 200ms ease-in-out;
}

.rounded-button:hover {
    background-color: $accent-color;
    color: black;
}

#tire-background-image {
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-bottom: $defaultMargin;
    .tire-background-image-overlay {
        background-color: #000000ca;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 2;
    }
    section {
        background-color: transparent;
        padding: 0;
    }
}


.bg-image-overlay {
    width: 100%;
    height: 100%;            
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.8;
    filter: brightness(40%);
    background-color: black;
}
